/* *{
    margin: 0;
    padding: 0;
} */
.playerone{
    text-align: center;
    padding-top: 50px;
    background-color: papayawhip;
    padding-bottom: 50px;
}

.playertwo{
    text-align: center;
    padding-top: 50px;
    display: none;
    background-color: papayawhip;
    padding-bottom: 50px;
}
.playeroneerr{
    color: red;
    font-size: 15px;
}

.playertwoerr{
    color: red;
    font-size: 15px;
}